<div class="row">
	<div class="large-12 columns">
		<h1>
			Mark Joel Chavez
			<small>ruby on rails developer</small>
		</h1>

		<div>
			<%= link_to image_tag('facebook-icon.png'), "https://www.facebook.com/mrkjlchvz", target:"_blank" %> 
			<%= link_to image_tag('twitter-icon.png'), "https://twitter.com/mrkjlchvz", target:"_blank" %> 
			<%= link_to image_tag('linkedin-icon.png'), "http://ph.linkedin.com/pub/mark-chavez/33/2ab/5aa", target:"_blank" %> 
			<%= link_to image_tag('gplus-icon.png'), "https://plus.google.com/u/0/102781608950487459252", target:"_blank" %>
		</div>
	</div>
</div>

<hr />

<div class="row">
	<div class="large-12 columns">
		<div class="large-3 columns">
			<h4 class="subheader">
				About
			</h4>
		</div>

		<div class="large-9 columns">
			<p style="text-align:justify">
				Hi there and welcome to my personal website. All of the stuffs here will be about me so brace yourselves! First of all, my name is Mark and I code for a living. My main expertise is web development specifically using the Ruby on Rails web framework. If you haven't heard of it, then check out their <%= link_to "site", "http://guides.rubyonrails.org/" %> for more information. I love to read books during my pastime (although this books are also related to web development).
			</p>
		</div>
	</div>

	<hr />

	<div class="large-12 columns">
		<div class="large-3 columns">
			<h4 class="subheader">
				Expertise
			</h4>
		</div>

		<div class="large-9 columns">
			<div class="row">
				<div class="large-3 columns">
					<p> HTML5 </p>
				</div>

				<div class="large-9 columns">
					<div class="progress large-9">
						<span class="meter" style="width:70%"></span>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="large-3 columns">
					<p> CSS3 </p>
				</div>

				<div class="large-9 columns">
					<div class="progress success large-9">
						<span class="meter" style="width:70%"></span>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="large-3 columns">
					<p> Javascript/Coffeescript </p>
				</div>

				<div class="large-9 columns">
					<div class="progress large-9">
						<span class="meter" style="width:80%"></span>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="large-3 columns">
					<p> Ruby on Rails </p>
				</div>

				<div class="large-9 columns">
					<div class="progress success large-9">
						<span class="meter" style="width:80%"></span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<hr />
	
	<div class="large-12 columns">
		<div class="large-3 columns">
			<h4 class="subheader">
				Contact
			</h4>
		</div>

		<div class="large-9 columns">
			Want your projects finished with high quality? You can email me at <strong>markchav3z@gmail.com</strong> or  and I will be glad to help you with your problems relating to web.
		</div>
	</div>
	
</div>

<div class="row">
	
</div>